@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    The following information are being stored in our servers:
    <ol>
        <li>IP Address</li>
        <li>User agent (browser)</li>
        <li>Urls you short</li>
    </ol>
</p>
